PORT=8000
DATABASE_URL=file:../database.sqlite3
SECRET=somesecret
STRIPE_SECRET_KEY=sk_test_stripesecret
RENT_STRIPE_SECRET_KEY=sk_test_rentstripesecret
ENDPOINT_SECRET=whsec_endpoint
RENT_ENDPOINT_SECRET=whsec_rentendpoint
OWNER_PRIVATE_KEY=contractownerwalletprivatekey
RPC_URL=https://goerli.infura.io/v3/e7631065f3c044f69188f39628368bd7
ORACLE_CONTRACT_ADDRESS=0xc08870E538FcAdda6944cE3c28fcd863e38578Dc
PROTOCOL_CONTRACT_ADDRESS=0x8CdAaE43EBb4aE8C3fF68003D2730378CAfDCdeD
LANDING_TOKEN_CONTRACT_ADDRESS=0x75538DEA8dEb64c7667E18A89c6580Bd0B5cb686