PORT=8000
DATABASE_URL=file:../database.sqlite3
SECRET=somesecret
STRIPE_SECRET_KEY=sk_test_stripesecret
RENT_STRIPE_SECRET_KEY=sk_test_rentstripesecret
ENDPOINT_SECRET=whsec_endpoint
RENT_ENDPOINT_SECRET=whsec_rentendpoint
OWNER_PRIVATE_KEY=contractownerwalletprivatekey
RPC_URL=https://goerli.infura.io/v3/e7631065f3c044f69188f39628368bd7
ORACLE_CONTRACT_ADDRESS=0x12482b36186Ed196E406ca48D707b7fc2a28A547
PROTOCOL_CONTRACT_ADDRESS=0x3bE6738A5Bd3647FeE6003B9F3926a8Fea2ae5f2